.todo-list {
  background-color: #25273c;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.todo-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #444;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
  background: transparent;
  margin-left: 20px;
}

.todo-checkbox:checked {
    background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-image: 
      url('../../assets/images/icon-check.svg'),
      linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% auto, cover;
  }

  .todo-checkbox:checked + .input-label {
    text-decoration: line-through;
    color: #aaa;
  }

.input-label {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #35374c;
  font-size: 20px;
  height: 70px;
}

// .todo-item.completed span {
//   text-decoration: line-through;
//   color: #888;
//   opacity: 0.6;
// }

span {
  line-height: 55px;
  color: #9799b3;
}

span:hover{
  cursor: pointer;
}