// .title {
//   color: rgb(241, 66, 203);
// }

// .normal{
//   color: blue;
// }

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #dce1eb;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

body.dark {
  background-color: hsl(235, 24%, 19%);
  background-image: url('./assets/images/bg-desktop-dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-color 0.3s ease;
}

body {
  background-color: hsl(0, 0%, 98%);
  background-image: url('./assets/images/bg-desktop-light.jpg');
  
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container{
  width: 600px;
  //width: 100%;
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin: 0;
}

.App {
  width: 100vw;
  //height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.list-container{
  width: 600px;
  display: flex;
  flex-direction: column;
}

.filter-container{
  width: 600px;
  padding: 15px 20px;
  border: none;
  background-color: #25273c;
  color: white;
  height: 70px;
  font-size: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.todo-container{
  width: 50%;
}

.darkMode-container{
  width: 50%;
  text-align: end;
}
.color {
  color: Blue hsl(220, 98%, 61%);
  color: hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  color: hsl(0, 0%, 98%);
  color: hsl(236, 33%, 92%);
  color: hsl(233, 11%, 84%);
  color: hsl(236, 9%, 61%);
  color: hsl(235, 19%, 35%);
  color: hsl(235, 21%, 11%);
  color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
  color: hsl(236, 33%, 92%); //hover
  color: hsl(234, 11%, 52%);
  color: hsl(233, 14%, 35%);
  color: hsl(237, 14%, 26%);
}